* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  padding: 10px 20px;
  background-color: black;
  color: white;
}

.App > .container {
  padding: 20px;
}

.container {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.post {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 5px #aaa;
}

.comment {
  border-left: 8px solid #0ea5e9;
  padding: 5px;
  margin: 0;
  box-shadow: 0 0 2px #ccc;
  position: relative;
}

.date {
  color: #888;
}

button img {
  height: 20px;
  filter: invert(99%) sepia(0%) saturate(0%) hue-rotate(297deg) brightness(109%)
    contrast(101%);
}

button {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  background-color: #2563eb;
  color: white;
  border: 0;
  border-radius: 5px;
  transition: all 1s ease-out;
  cursor: pointer;
}

button:hover,
button:focus {
  background-color: #1e3a8a;
  scale: 1.1;
}

input {
  padding: 5px;
  margin: 5px;
}

input + button {
  margin: 5px;
}

.delete {
  position: absolute;
  top: 0;
  right: 0;
}
