* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  padding: 10px 20px;
  background-color: black;
  color: white;
}

.App > .container {
  padding: 20px;
}

.container {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.post {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 5px #aaa;
}

.comment {
  border-left: 8px solid #0ea5e9;
  padding: 5px;
  margin: 0;
  box-shadow: 0 0 2px #ccc;
}

.date {
  color: #888;
}
